/*Header styles*/
.navUlAndButton-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

button {
  color: rgb(228, 228, 0);
  background-color: rgb(0, 0, 71);
  transition: 0.3s;
  border: 1px solid rgb(0, 0, 71);
  padding: 8px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font: 12px arial;
}

.header-div {
  background: url("home-banner.jpg.webp")center/cover;
  height: 100vh;
}

li a {
  text-decoration: none;
  color: black;
  font: 550 14px arial;
  transition: 0.3s;
}

li a:hover {
  color: rgb(228, 228, 0);
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

.header-nav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75%;
  margin: auto;
}

header div nav {
  padding: 20px 0;
}

.content-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 89vh;
}

.content-div h1 {
  color: rgb(0, 0, 71);
  text-transform: uppercase;
  font: 550 22px arial;
  margin: 0 0 20px 0;
}

.content-div h2 {
  color: rgb(0, 0, 71);
  text-transform: uppercase;
  font: 550 42px arial;
  margin: 0 0 40px 0;
}

.centent-div-links-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 445px;
}

.content-link1 {
  color: rgb(228, 228, 0);
  background-color: rgb(0, 0, 104);
  transition: 0.3s;
  border: 1px solid rgb(0, 0, 125);
  padding: 15px 45px;
  border-radius: 5px;
  text-transform: uppercase;
  font: 14px arial;
}

.content-link1:hover {
  color: rgb(0, 0, 71);
  background-color: transparent;
}


.content-link2 {
  color: rgb(0, 0, 71);
  background-color: rgb(201, 201, 0);
  padding: 15px 45px;
  transition: 0.3s;
  border: 1px solid rgb(228, 228, 0);
  border-radius: 5px;
  text-transform: uppercase;
  font: 13px arial;
}

.content-link2:hover {
  color: rgb(228, 228, 0);
  background-color: rgb(0, 0, 71);
  border: 1px solid rgb(0, 0, 71);
}

/*MAIN PART STYLES*/
.main-div {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-title-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 450px;
  max-height: 140px;
  margin:auto;
}

.main-title-div h2 {
  text-align: center;
  font: normal 850 36px Arial;
}

.main-title-div h3 {
  text-align: center;
  color: rgb(111, 111, 111);
  font: italic 540 16px arial;
  padding-top: 10px;
}

.main-features-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  align-items:center;
  height: 500px;
  width:78%;
  margin: auto;
}

.feature-div {
  max-width: 340px;
  height: fit-content;
  padding: 20px 0 20px 30px;
  background-color: rgb(246, 246, 255);
  border-radius: 5px;
  transition: 0.3s;
}

.feature-div:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.125);
}

.feature-div h4 {
  font: normal 650 20px sans-serif;
  text-transform: capitalize;
  margin: 15px 0;
}

.feature-div h5 {
  font: normal 16px sans-serif;
  color: rgb(145, 143, 143);
  line-height: 25px;
}
.feature-div i{
  font-size: 40px;
  margin: 10px 0;
}